<h1>Edit <%= @task.title %></h1>

<%= form_for(@task) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </div>
  <br>
  <% unless f.object.new_record? %>
    <div>
      <label>
        <%= f.check_box :completed %> Completed
      </label>
    </div>
  <% end %>
  <%= f.submit "Update task" %>
<% end %>

<div>
  <%= link_to 'Back to list', tasks_path %>
</div>
