<h1><%= @task.title %> </h1>

<div class="details">
  <%= @task.details %>
</div>

<div class="completed">
  <%= @task.completed == true ? "This task is completed" : "This task is not completed yet" %>
</div>

<div>
  <%= link_to edit_task_path %>
  Edit this task
</div>

<div>
  <%= link_to 'Back to list', tasks_path %>
</div>
